<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/home" (click)="isCollapsed = true">{{ title }}</a>

  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapseExample" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" (click)="isCollapsed = true">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/items/list" (click)="isCollapsed = true">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/items/add" (click)="isCollapsed = true">Add</a>
      </li>
      <li class="nav-item" *ngIf="signInService.auth" (click)="signInService.signOut()">
        <button type="button" class="btn btn-primary btn-sm">
          <span class="icon-lock"></span>
        </button>
      </li>
    </ul>
  </div>
</nav>
