<div class="card">
  <div class="card-header">
    <!--<span class="state-alivrer" *ngIf="state.ALIVRER === item.state">{{ item.state }}</span>-->
    <!--<span class="state-encours" *ngIf="state.ENCOURS === item.state">{{ item.state }}</span>-->
    <!--<span class="state-livree" *ngIf="state.LIVREE === item.state">{{ item.state }}</span>-->

    <span [appState]="item.state">{{ item.state }}</span>
    <button class="btn btn-danger btn-sm float-right" (click)="delete()"><span class="icon-bin"></span></button>
    <button class="btn btn-primary btn-sm float-right"><span class="icon-pencil2"></span></button>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ item.name | uppercase }}</h5>
    <p class="card-text">{{ item.reference }}</p>

    <button class="btn btn-primary" *ngIf="state.ALIVRER === item.state" (click)="changeState(state.ENCOURS)">{{ state.ENCOURS }}</button>
    <button class="btn btn-primary" *ngIf="state.ENCOURS === item.state" (click)="changeState(state.LIVREE)">{{ state.LIVREE }}</button>

  </div>
</div>
