<form (ngSubmit)="process()" class="container form" [formGroup]="form" novalidate>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Nom et prénom" formControlName="name">
    <div class="alert alert-danger" *ngIf="isError('name')">champs invalide</div>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Référence: ex 1234" formControlName="reference">
    <div class="alert alert-danger" *ngIf="isError('reference')">champs invalide</div>
  </div>

  <div class="form-group">
    <select class="form-control" formControlName="state">
      <option *ngFor="let libelle of libelles" [ngValue]="libelle">{{ libelle }}</option>
    </select>
  </div>

  <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Submit</button>
</form>
